body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #F7F7F7;
}

.header {
    background-color: #222222;
    height: 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-emoji {
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
}

.header-title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.header-description {
    color: #CFCFCF;
    margin: 4px auto;
    text-align: center;
    max-width: 384px;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px;
}

.card {
    margin-bottom: 24px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.head-menu {
    height: 112px;
    width: 912px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 24px;
    padding-bottom: 238px;
    margin: 15px auto 15px auto;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}
.menu {
    height: 112px;
    width: 912px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 24px;
    margin: 15px auto 15px auto;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.Select-control {
    width: 256px;
    height: 48px;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    line-height: 48px;
}

.Select--multi .Select-value-label {
    line-height: 32px;
}

.VirtualizedSelectFocusedOption {
  background-color: #ffeedd;
}

.menu-title {
    padding: 6px;
    margin-bottom: 6px;
    font-weight: bold;
    color: #079A82;
}


.menu-RangeSlider {
    #width: 412px;
    padding: 6px;
    margin-left: -256px;
    margin-right: -318px;
    font-weight: bold;
    color: #079A82;
}

#head-AnomalCount-filter
.rc-slider-track {
  background-color: red;
}

#head-EmptyCount-filter
.rc-slider-track {
  background-color: yellow;
}

#.rc-slider-dot-active {
#  border-color: red;
#  border: solid 2px red;
#}

#.rc-slider-handle {
#  background-color: red;
#  border-color: red;
#}

.rc-slider-handle:hover {
  border-color: red;
}

.rc-slider-handle-active:active {
  border-color: red;
}